*{
    margin: 0px;
    font-family: "inter";
}

#menusuperior{
    background-color: #303030;
    color: #FFFFFF;
    background-color: #303030;
}
 
#titulo-menu-superior{
    margin-left: 62px;
    margin-top: 0px;
    padding-top: 200px;
    font-size: 60px;
}

#texto-menu-superior{
    margin-left: 62px;
    margin-top: 15px;
    padding-bottom: 100px;
    font-size: 20px;
}

#menusuperior{
    background-color: #303030;
    color: #FFFFFF;
}

#menuinformacao{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icones{
    margin: 50px 0px 50px 100px;
    padding: 25px;
    display: flex;
    align-items: center;
     
}

#Arquiteto{
    background-color: aliceblue;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 5%;
}

#tituloArquiteto{
    margin-top: 230px;
    margin-left: 50px;
    font-size: 30px;
}

#textoArquiteto{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
}

#fotoarquiteto{
    margin: 50px 25px 50px 100px;
}

#formulario{
    text-align: center;
    background-color: #303030;
}

#tituloformulario{
    font-size: 32px;
    padding-top: 100px;
    color: #FFFFFF;
    text-align: center;
    margin: 30px;
}

input{
    Width: 450px;
    Height: 45px;
    background-color: #EAECE5;
    margin: 25px;
    border: 0px;
    border-radius: 3px;
    padding-left: 20px;
    font-family: "Raleway";
    Top:1661px;
    Left: 466px;
    
}

button{
    background-color: #C07212;
    Width: 250px;
    Height: 53px;
    border: 0px;
    border-radius: 3px;
    color: #FFFFFF;
    margin-bottom: 50px;
    font-family: "Raleway";
    cursor: pointer;
    font-size: 23px;
    
}

button:hover{
    background-color: #C07212;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #6d410b8e;
    transition-duration: 0,10s;
}
